<div>
  <form class="col-md-4">
    <div class="form-group">
      <label>Email address*</label>
      <input ng-model="vm.email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label>Name*</label>
      <input ng-model="vm.name" type="text" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
      <label>Address</label>
      <textarea ng-model="vm.address" class="form-control" rows="3"></textarea>
    </div>

    <p ng-if="vm.error" class='text-danger'>Name and Email required</p>

    <button ng-click="vm.generatePDF()" type="submit" class="btn btn-primary">Submit</button>
    <button ng-disabled="!vm.doc" ng-click="vm.downloadPDF()" type="button" class="btn btn-warning pull-right">Download</button>
  </form>
  <iframe class="col-md-8" style="margin-top: 20px" width='100%' height="800px"></iframe>
</div>
